$bgCol: #e2e2e2;
$borderCol: #eeeeee;
$fontCol: #2a2a2a;
$tnc: #666666;
$linkCol: #53b5e7;
$fb: #769bd2;
$twt: #7ec5f9;
$errCol: #C00;
$successCol: #339900;
$btnBlue: #53B5E7;
$btnGray: #cccccc;
$secBorder: #cecece;